{

    "presets": ["es2015", "stage-0", "react"],
    "plugins": ["syntax-async-generators", ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
    }]]
}